#!/usr/bin/env bash

# darwin/packages.def hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/darwin/packages.def") | sha256sum }}

set -euo pipefail

# This script uses Homebrew to install and update packages. It relies on the following environment variable
# set in the Chezmoi config: BREW_PATH

# The packages to install are defined in the darwin/packages.def Chezmoi template. Changes to
# the packages.def template will be detected by Chezmoi between executions to apply
# any changes. NOTE: Packages added manually to the target are removed by the `cleanup` option.

# Prompt pre-emptively for sudo password
printf "Info: A password may be required to install Homebrew packages.\n"
sudo -v

if [ -x ${BREW_PATH} ]; then
  # Source Homebrew environment variables
  eval "$(${BREW_PATH} shellenv)"

  # Update Homebrew and install packages
  printf "Info: Updating Homebrew.\n"
  brew update
  printf "Info: Installing Homebrew packages.\n"
  brew bundle --no-lock --file=/dev/stdin <<EOF
  {{ includeTemplate "darwin/packages.def" . -}}
  EOF
  printf "Info: Cleaning up Homebrew packages.\n"
  brew bundle cleanup --force --file=/dev/stdin <<EOF
  {{ includeTemplate "darwin/packages.def" . -}}
  EOF

  brew cleanup
  printf "Info: Homebrew package installations completed.\n"
else
  printf "Error: Homebrew is not installed. Exiting.\n"
  exit 1
fi
