#!/usr/bin/env bash

# darwin/packages.def hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/darwin/packages.def") | sha256sum }}

set -euo pipefail

# This script is installs and updates Homebrew, and then uses Homebrew to install and update
# packages. It relies on the following environment variable set in the Chezmoi config: BREW_PATH

# The packages to install defined in the darwin/packages.def Chezmoi template. Changes to
# the packages.def template will be detected by Chezmoi between executions to apply
# any changes. NOTE: Packages added manually to the target are removed by the `cleanup` option.

# Prompt pre-emptively for sudo password
sudo -v

# Source Homebrew environment variables
eval "$(${BREW_PATH} shellenv)"

# Update Homebrew and install packages
printf "Info: Updating Homebrew.\n"
brew update

printf "Info: Installing Homebrew packages.\n"
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ includeTemplate "darwin/packages.def" . -}}
EOF

printf "Info: Upgrading Homebrew packages.\n"
brew upgrade --cask --greedy
brew cleanup

printf "Info: Homebrew package installation and updates completed.\n"
