#!/usr/bin/env bash
#
# SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
# SPDX-License-Identifier: MIT
#

# darwin/packages.def hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/darwin/brews.def") | sha256sum }}

set -euo pipefail

# This script uses Homebrew to install relevant packages. It relies on the following environment variable
# set in the Chezmoi config: BREW_PATH

# The packages to install are defined in the darwin/brews.def Chezmoi template. Changes to
# the brews.def template will be detected by Chezmoi between executions to apply
# any changes. NOTE: Packages added manually to the target are removed by the `cleanup` option.

# Prompt pre-emptively for sudo password
printf "Info: A password may be required to install Homebrew packages.\n"
sudo -v

# Perform Homebrew tasks
if [ -x ${BREW_PATH} ]; then
  # Source Homebrew environment variables
  eval "$(${BREW_PATH} shellenv)"

  # Update Homebrew and install packages
  printf "Info: Updating Homebrew.\n"
  brew update

  printf "Info: Installing Homebrew packages.\n"
  brew bundle --file=/dev/stdin <<EOF
  {{ includeTemplate "darwin/brews.def" . -}}
  EOF

  printf "Info: Cleaning up Homebrew packages.\n"
  brew bundle cleanup --force --file=/dev/stdin <<EOF
  {{ includeTemplate "darwin/brews.def" . -}}
  EOF

  brew cleanup
  printf "Info: Homebrew package installations completed.\n"
else
  printf "Error: Homebrew is not installed. Exiting.\n"
  exit 1
fi
