{{ template "ignore_global" . }}

{{/* Use context specific ignore templates so scripts and templates are only */}}
{{/* applied depending on the target and access level the user has */}}

{{/* if target has no secrets defined, ignore installing Age decryption key */}}
{{- if not (or .secrets.apikeys .secrets.sshkeys .secrets.storagekeys ) }}
.chezmoiscripts/bootstrap/00_bootstrap-decrypt-age-key.sh
{{- end }}

{{/* if target is Linux, ignore Darwin scripts and templates */}}
{{/* in .chezmoiscripts and .chezmoitemplates */}}
{{- if or .target.debian .target.devcontainer .target.ubuntu .target.wsl }}
{{ template "linux/ignore" . }}
{{- end }}

{{/* if target is work WSL device, include context based sensitive files */}}
{{- if and .target.wsl .privacy.private .secrets.apikeys .secrets.sshkeys .state.ephemeral }}
!.config/git
!.config/wakatime
{{- end }}

{{/* if target is not a supported context, ignore everything not ignored globally */}}
{{- if not (or .target.darwin .target.debian .target.devcontainer .target.ubuntu .target.wsl) }}
.chezmoiscripts
.chezmoitemplates
.config
{{- end }}
