{{ template "ignore_global" . }}

{{/* Use context specific ignore templates so scripts and templates are only */}}
{{/* applied depending on the target and access level the user has */}}

{{/* if target is personal, MacOS device, ignore Linux scripts and templates */}}
{{/* in .chezmoiscripts and .chezmoitemplates */}}
{{- if and .target.darwin .function.personal }}
{{ template "darwin/ignore" . }}
{{- end }}

{{/* if target is Linux, ignore Darwin scripts and templates */}}
{{/* in .chezmoiscripts and .chezmoitemplates */}}
{{- if or .target.debian .target.ubuntu .target.wsl }}
{{ template "linux/ignore" . }}
{{- end }}

{{/* if target has no secrets defined, ignore installing Age decryption key */}}
{{- if not (or .secrets.apikeys .secrets.sshkeys .secrets.storagekeys ) }}
**/*.age
.chezmoiscripts/global
{{- end }}

{{/* if target is not work and not WSL or secret sshkeys is false, ignore work SSH files */}}
{{- if and (not .function.work) (not .target.wsl) (not .secrets.sshkeys) }}
.ssh/config.d/work
.ssh/keys.d/work
{{- end }}

{{/* if target is work, WSL device, ignore personal SSH configs */}}
{{- if and .function.work .target.wsl .secrets.sshkeys }}
.ssh/config.d/personal
{{- end }}
