{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
{{- if and .function.personal .target.darwin -}}
[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
	signingkey = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").sshSigningKeyPersonal | trim }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[commit]
  gpgsign = true

[tag]
  gpgsign = true
  forceSignAnnotated = true

{{ if lookPath "gh" -}}
[credential "https://github.com"]
        helper =
        helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/opt/homebrew/bin/gh auth git-credential
{{- end -}}
{{- end -}}

{{ if and .function.work .target.wsl -}}
[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
  signingkey = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").sshSigningKeyWork | trim }}

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[credential]
  helper = /mnt/c/Users/rgillson/scoop/apps/git-credential-manager/current/git-credential-manager.exe

[credential "https://dev.azure.com"]
  useHttpPath = true
{{- end -}}
