{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
{{- if and .function.personal .target.ubuntu }}
{{ (awsSecretsManager "dotfiles/chezmoi/secrets").sshAuthKeyPersonal | trim }} Personal SSH Auth Key
{{- else if and .function.work .target.wsl }}
{{ (awsSecretsManager "dotfiles/chezmoi/secrets").sshAuthKeyWork | trim }} Work SSH Auth Key
{{- end }}
