{{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "sshAuthKeyWork") | trim }} Work SSH Auth Key
{{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "sshSigningKeyWork") | trim }} Work SSH Signing Key
