{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
[GDrive]
type = drive
client_id = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveId | trim }}
client_secret = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveSecret | trim }}
scope = drive.file
token = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveToken | trim }}
root_folder_id = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveRootDir | trim }}
use_trash = false
chunk_size = 32M
skip_gdocs = true
stop_on_upload_limit = true
stop_on_download_limit = true
skip_shortcuts = true
skip_dangling_shortcuts = true

[GDCrypt]
type = crypt
remote = GDrive:
password = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveEncryptKey | trim }}
password2 = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneDriveEncryptSalt | trim }}

[utility]
type = sftp
host = {{ (awsSecretsManager "dotfiles/chezmoi/secrets").rcloneUtilityHost | trim }}
user = r0b0tn11k
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[server]
type = sftp
host = 10.0.10.5
port = 2244
user = sysadm
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum
