{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
[GDrive]
type = drive
client_id = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveId") | trim }}
client_secret = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveSecret") | trim }}
scope = drive.file
token = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveToken") | trim }}
root_folder_id = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveRootDir") | trim }}
use_trash = false
chunk_size = 32M
skip_gdocs = true
stop_on_upload_limit = true
stop_on_download_limit = true
skip_shortcuts = true
skip_dangling_shortcuts = true

[GDCrypt]
type = crypt
remote = GDrive:
password = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveEncryptKey") | trim }}
password2 = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneDriveEncryptSalt") | trim }}

[utility]
type = sftp
host = {{ includeTemplate "universal/hcpHandler.tmpl" (list .hcp.appName "rcloneUtilityHost") | trim }}
user = r0b0tn11k
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[server]
type = sftp
host = 10.0.10.5
port = 2244
user = sysadm
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum
