# Chezmoi commands
abbr cm='chezmoi'

# Docker Compose commands
abbr dco='docker compose'
abbr dcup='docker compose up'
abbr dcupd='docker compose up -d'
abbr dcrun='docker compose run'
abbr dcstop='docker compose stop'
abbr dcdn='docker compose down'
abbr dcl='docker compose logs'
abbr dclf='docker compose logs -f'
abbr dcps='docker compose ps'

# Git commands
abbr -g g='git'
abbr import-git-aliases -g --prefix "git "

# Miscellanous
abbr hu='heroku'
