{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
# Brew commands
abbr bup='brew update'
abbr bug='brew upgrade'
abbr bcl='brew cleanup'
abbr bar='brew autoremove'
abbr brewmaint='brew update && brew upgrade && brew cleanup && brew autoremove'

# Chezmoi commands
abbr cm='chezmoi'

# Docker Compose commands
abbr dco='docker compose'
abbr dcup='docker compose up'
abbr dcupd='docker compose up -d'
abbr dcrun='docker compose run'
abbr dcstop='docker compose stop'
abbr dcdn='docker compose down'
abbr dcl='docker compose logs'
abbr dclf='docker compose logs -f'
abbr dcps='docker compose ps'

# Git commands
abbr -g g='git'
abbr import-git-aliases -g --prefix "git "

# Zellij commands
abbr zj='zellij'
abbr 'zellij a'='zellij attach'
abbr 'zellij l'='zellij list-sessions'
abbr 'zellij d'='zellij delete-session'
abbr 'zellij k'='zellij kill-session'

{{ if .target.darwin -}}
# Snatch commands
abbr uptop='scp "${HOME}"/Downloads/Torrents/Music/Upload/*.torrent utility:/home/r0b0tn11k/watch/qbittorrent/music/'
abbr downlow='rsync -aPv utility:/home/r0b0tn11k/downloads/qbittorrent/complete/Music/ ${HOME}/Downloads/Torrents/Music/Staged/'
abbr pushit='rsync -aPv "${HOME}/Downloads/Torrents/Music/Staged/" server:/mnt/usb/datablob/workspace/'

# Mount commands
abbr mblob='mount -t nfs -o port=2049,mountport=2049,vers=3,tcp,ro utility:/ ./

{{ if lookPath "mise" -}}
# Mise commands
abbr mod='mise outdated --bump'
abbr mud='mise upgrade'
{{- end }}
{{- end }}

{{ if and .target.ubuntu (lookPath "rclone") -}}
# Mount commands
abbr mblob='rclone serve nfs ./ --addr 0.0.0.0:2049 --vfs-cache-mode full --read-only --nfs-cache-type disk --buffer-size 4G --vfs-fast-fingerprint'
{{- end }}
