{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
# Chezmoi commands
abbr cm='chezmoi'

# Docker Compose commands
abbr dco='docker compose'
abbr dcup='docker compose up'
abbr dcupd='docker compose up -d'
abbr dcrun='docker compose run'
abbr dcstop='docker compose stop'
abbr dcdn='docker compose down'
abbr dcl='docker compose logs'
abbr dclf='docker compose logs -f'
abbr dcps='docker compose ps'

# Git commands
abbr -g g='git'
abbr import-git-aliases -g --prefix "git "

# Zellij commands
abbr zj='zellij'
abbr 'zellij a'='zellij attach'
abbr 'zellij l'='zellij list-sessions'
abbr 'zellij d'='zellij delete-session'
abbr 'zellij k'='zellij kill-session'

{{ if .target.darwin -}}
# Snatch commands
abbr uptop='scp "${HOME}/Downloads/Torrents/Music/Upload/*.torrent" utility:/home/r0b0tn11k/watch/qbittorrent/music/'
abbr downlow='rsync -aPvz utility:/home/r0b0tn11k/downloads/qbittorrent/complete/Music/ ${HOME}/Downloads/Torrents/Music/Xfer/'
abbr pushit='rsync -aPvz "${HOME}/Downloads/Torrents/Music/Xfer/" server:/mnt/usb/datablob/workspace/'
{{- end }}
