#
# SPDX-FileCopyrightText: (c) 2023 Rowan Gillson <devops@the.bald.engineer>
# SPDX-License-Identifier: MIT
#

# Shell function for Broot to cd into a directory - workaround for Zsh integration
function br {
    emulate -L zsh
    (){ broot --outcmd $1 ${@:2} && source $1 } =() $@
}
