#
# SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
# SPDX-License-Identifier: MIT
#

{{- if and (stat "/home/linuxbrew/.linuxbrew/bin") (stat "/home/linuxbrew/.linuxbrew/sbin") -}}
# Shell function to run sudo with Homebrew's path if Homebrew is installed
function sudo() {
    local BREW_BIN="/home/linuxbrew/.linuxbrew/bin"
    local BREW_SBIN="/home/linuxbrew/.linuxbrew/sbin"

    # Check if either Homebrew bin or sbin exists
    if [[ -d "$BREW_BIN" || -d "$BREW_SBIN" ]]; then
        # Construct the Homebrew PATH
        local BREW_PATH=""
        [[ -d "$BREW_BIN" ]] && BREW_PATH="$BREW_BIN"
        [[ -d "$BREW_SBIN" ]] && BREW_PATH="${BREW_PATH:+$BREW_PATH:}$BREW_SBIN"

        # Prepend the Homebrew PATH if it's not already in the current PATH
        if [[ ":$PATH:" != *":$BREW_PATH:"* ]]; then
            PATH="$BREW_PATH:$PATH"
        fi
    fi

    # Execute sudo with the updated PATH
    command sudo env "PATH=$PATH" "$@"
}
{{- end }}

{{- if lookPath "spf" -}}
# Shell function to allow Superfile to exit to cwd
function spf() {
	export SPF_LAST_DIR="${XDG_STATE_HOME:-$HOME/.local/state}/superfile/lastdir"

	command spf "$@"

	[ ! -f "${SPF_LAST_DIR}" ] || {
		. "${SPF_LAST_DIR}"
		rm -f -- "${SPF_LAST_DIR}" > /dev/null
	}
}
{{- end }}
