#
# SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
# SPDX-License-Identifier: MIT
#

# Define XDG Base Directory Specification
xdg_vars=(
  "XDG_CONFIG_HOME=${HOME}/.config"
  "XDG_DATA_HOME=${HOME}/.local/share"
  "XDG_CACHE_HOME=${HOME}/.cache"
	"XDG_STATE_HOME=${HOME}/.local/state"
)
for var in "${xdg_vars[@]}"; do
  var_name="${var%%=*}"  # Extract variable name
  var_path="${var#*=}"   # Extract variable path
  if [ ! -d "${var_path}" ]; then
    mkdir -p "${var_path}"
  fi
  export "${var_name}"="${var_path}"
done

export XDG_RUNTIME_DIR=
{{- if .target.darwin -}}
"${TMPDIR}"
{{- else if or (.target.ubuntu) (.target.debian) -}}
"/run/user/$(id -u)"
{{- else -}}
"/tmp"
{{- end }}

# Define settings and directories for various programs
# Bat
export BAT_THEME=aura-theme

# Cargo
export CARGO_HOME="${XDG_DATA_HOME}/cargo"

# Docker
export DOCKER_CONFIG="${XDG_CONFIG_HOME}/docker"

# Delta
export DELTA_FEATURES='+side-by-side +syntax-theme=aura-theme +dark +tabs=2 +line-numbers +hyperlinks'

# Editor
{{- if lookPath "code" }}
export EDITOR="code --wait"
export VISUAL="code --wait"
{{- else if lookPath "hx" }}
export EDITOR="hx"
export VISUAL="hx"
{{ else }}
export EDITOR="vi"
export VISUAL="vi"
{{- end }}

# fzf
# export FZF_DEFAULT_OPTS="--border=horizontal --color=hl:201,hl+:201 --ansi --exact --no-mouse --multi --cycle --tiebreak=length,begin,index --delimiter='\000' --layout=default "

# GH
export GH_TOKEN="{{ (awsSecretsManager "dotfiles/chezmoi/secrets").githubToken | trim}}"

# Git
export GIT_CONFIG_GLOBAL="${HOME}/.gitconfig"

# GnuPG
export GNUPGHOME="${XDG_DATA_HOME}/gnupg"
export GPG_TTY=$TTY

# Go
#export GOPATH="${XDG_DATA_HOME}/go"
#export GOBIN="${GOPATH}/bin"
#export PATH="${GOBIN}:${PATH}"

# httpie
export HTTPIE_CONFIG_DIR="${XDG_CONFIG_HOME}/httpie"

# Less
export LESSKEY="${XDG_CONFIG_HOME}/less/lesskey"
export LESSHISTFILE="${XDG_CACHE_HOME}/less/history"
export LESSHISTSIZE=1000
export LESSCHARSET="utf-8"

# Neovim
#export VIMDOTDIR="${XDG_CONFIG_HOME}/nvim"
#export MYVIMRC="${VIMDOTDIR}/init.vim"

# Shell
export BLOCK_SIZE="human-readable"
export PAGER="less -isr"

# SSH
{{- if and .target.darwin .function.personal }}
export SSH_AUTH_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

# Terminfo
export TERMINFO="${XDG_DATA_HOME}/terminfo"
export TERMINFO_DIRS="${XDG_DATA_HOME}/terminfo:/usr/share/terminfo"

# Wakatime
export WAKATIME_HOME="${XDG_CONFIG_HOME}/wakatime"

# Zsh
export ZSH_CACHE_DIR="${XDG_CACHE_HOME}/zsh"

# Zsh-alias tips
export ZSH_PLUGINS_ALIAS_TIPS_TEXT="Try this shortcut: "

# Zsh-evalcache
export ZSH_EVALCACHE_DIR="${XDG_CACHE_HOME}/zsh-evalcache"

# Define LS_COLORS
{{- if lookPath "vivid" }}
export LS_COLORS="$(vivid generate ${XDG_CONFIG_HOME}/vivid/themes/aura-theme-dark.yml)"
{{- end }}
