{{/*
SPDX-FileCopyrightText: (c) 2024 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}
{{- if .target.darwin -}}
{{- includeTemplate "darwin/packages.def" . -}}
{{- else if or .target.ubuntu .target.wsl -}}
{{- includeTemplate "linux/controlled/packages.def" . -}}
{{- end }}
