{{/*
SPDX-FileCopyrightText: (c) 2025 Rowan Gillson <devops@the.bald.engineer>
SPDX-License-Identifier: MIT
*/}}

{{/*
  * Function to get the static version of the secrets from HCP Vault
  *
  * Required arguments (in order):
  * 1. The HCP Vault Secrets application name, as defined in Chezmoi data .hcp.appName
  * 2. The secret name, as defined in an HCP Vault Secrets application config
  *
*/}}
{{- (output "hcp" "vault-secrets" "secrets" "open" "--format" "json" "--app" (index . 0) (index . 1) | fromJson).static_version.value -}}
